* {
    box-sizing:border-box;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    background-color:rgb(241, 229, 215);
    margin: 10px;
}

.home-title {
    text-align: center;
    border: 5px solid;
    text-decoration: dashed;
    background-color: white;
}

.home-food-list {
    border: 5px dotted;
    padding: 10px;
    margin: 10px 0;
}

.home-food-list ul {
    text-align: center;
}

.home-food-list li {
    display: inline-block;
    margin: 30px;
    padding: 25px;
    border-radius: 1cm;
    background-color: rgb(255, 254, 250);
}

.food-title {
    background-color:white;
    padding: 15px;
    text-align: center;
    margin: 15px 0;
}

img {
    display: block;
    margin: 50px auto;
}

.description-block p {
    font-weight:bold;
    font-size:18px;
}

.description-block,
.ingredients-block,
.steps-block {
    background-color:rgb(255, 255, 255);
    padding: 5px;
    margin: 50px;
}

.description-h,
.description-p,
.ingredients-block h2,
.steps-block h2 {
    margin: 15px;
}

.bold {
    font-weight: bold;
}

.ingredients-block li,
.steps-block li {
    font-style:italic;
    margin: 15px 0;
}